.navbar {
  padding: 20px;
  margin-bottom: 0px;
  background-color: $main-color;
  
  .navbar-brand {
    margin-right: 30px !important;
    font-size: 32px;
    letter-spacing: 1px;
    color: $button-color;
    font-weight: 700;
  }

  .rpn-search {
    height: 50px;
    width: 300px !important;
  }
  
  .btn-rpn-search {
    border-color: $main-color;
    color: $main-color;
    
    &:hover,
    &:focus,
    &:active {
      background-color: transparent !important;
      border-color: $main-color !important;
      color: $main-color !important;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  
  .nav-item {
    font-size: 1rem;
    color: $button-color !important;
    font-weight: bold;
  }

  .button-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .button-link:hover,
  .button-link:focus {
    text-decoration: none;
  }

  .btn-register  {
    background-color: $button-color;
    color: #fff !important;
  }
}
